@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
body{
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 1440px;
    margin: 0 auto;
}

/* shared style */
section{
   width:75%;
   margin: 100px auto;
}
.red{
    color: rgb(230, 83, 60);
}
p{
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.5);
}
.text-centre{
    text-align: center;
}
.btn-primary{
    width: 225px;
    font-size: 18px;
    color: white;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: rgb(230, 83, 60) ;
    border: none;
}
.section-title h3{
    font-size: 3rem;
    font-weight: 900;
}
/* nav section */
header{
    background: linear-gradient(#111111FF 100%,
    #77777700 0%);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:75%;
    margin: 0 auto;
}
nav li{
    list-style: none;
    
}
nav li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 20px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 46px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 38px;
}
.red-bg{
    background-color:  rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px;
}
.navbar h4{
    font-size: 2.25rem;
    font-weight: 800;
}
/* header banner section */
.banner{
    display: flex;
    align-items: center;
    gap: 100px;
    width:75%;
    margin: 0 auto;
}
.banner-content{
    width: 520px;
}
.banner-content p{
    margin: 28px 0;
}
.banner-content h4{
    font-size: 5rem;
    font-weight: 900;
    line-height: 75px;
    margin: 30px auto;
}
.miama{
    font-family: "Miama", sans-serif;  
    font-weight: 400; 
    font-size: 7rem;                                             
}
.bg-none{
    background:none;
    border: 1px solid white;
}
.banner-card-1{
    flex-direction: column; 
    top: 25%;
    left: 65%;
}
.banner-card-2{
    gap: 15px;
    bottom: 15%;
    right: 65%;
}
.banner-card-1,.banner-card-2{
    height: 100px;
    width: 200px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.banner-card-1 p,.banner-card-2 p{
    margin: 2.5px 0;
}
.banner-card-1 h5,.banner-card-2 h5{
    margin: 2.5px 0;
}
.banner-card-1 h5{
    font-size: 2.5rem;
}
.banner-card-2 h5{
    font-size: 1.5rem;
}
.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: red;
}
.banner-img{
    position: relative;
}
/* habit section */
.section-title p{
    width: 650px;  
    margin: 0 auto;  
}
.card{
    width: 230px;
}
.card img{
    border-radius: 50%;
    border: 1px dotted white;
}
.card p{
    font-size: 14px;
}
.habit-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin-top: 60px;
}
